<!DOCTYPE html>
<html lang="tr">
    <head>
        <meta charset="utf-8"/>
        <title>{% if page.title %}{{ page.title }} - {% endif %}PHP: Usulüne Uygun</title>
        <meta name="description" content="{{ page.description }}"/>
        <meta name="robots" content="index,follow,archive"/>
        <meta property="og:image" content="http://kulekci.net/php-the-right-way/images/og-logo.png"/>
        <meta property="og:title" content="PHP: Usulüne Uygun"/>
        <meta property="og:description" content="Web üzerinde okunması kolay, uygulamalar için hızlı referans kaynağı olabilecek, kabul görmüş standartlara ve onaylanmış PHP örneklerine bağlantılar sağlayan bilgi kaynağı."/>
        <meta property="og:url" content="http://kulekci.net/php-the-right-way/"/>
        <meta property="og:site_name" content="PHP: Usulüne Uygun"/>
        <meta property="og:type" content="website"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
        <link href='http://fonts.googleapis.com/css?family=Alfa+Slab+One|Droid+Serif:400,700' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="/php-the-right-way/styles/all.css"/>
        <link rel="stylesheet" href="/php-the-right-way/styles/syntax.css"/>
        <link rel="icon" href="/php-the-right-way/images/favicon.png" type="image/png"/>
        <script type="text/javascript">
          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', 'UA-23748121-1']);
          _gaq.push(['_trackPageview']);

          (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();
        </script>
    </head>
    <body>
        <header class="interior-site-header">
            <div class="site-title"><a href="/php-the-right-way/">PHP</a></div>
            <div class="site-slogan">Usulüne Uygun.</div>
            <a class="btn btn-h" href="/php-the-right-way/">Ana Sayfaya Dön</a>
            <a class="fork-me" href="https://github.com/hkulekci/php-the-right-way" title="Türkçe dilinceki kaynak kodu kopyala">
                <img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png" alt="Fork me on GitHub">
            </a>
        </header>
        <div class="interior-site-content">
            <div class="pbh"><em>Okuduğunuz içerik&hellip;</em></div>
            {{ content }}
            <a href="/php-the-right-way">Return to Main Page</a>
            <footer class="site-footer" id="site-footer">
                <p>
                    <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by-nc-sa/3.0/88x31.png" /></a><br /><span xmlns:dct="http://purl.org/dc/terms/" href="http://purl.org/dc/dcmitype/Text" property="dct:title" rel="dct:type">PHP: The Right Way</span> by <a xmlns:cc="http://creativecommons.org/ns#" href="http://www.twitter.com/codeguy" property="cc:attributionName" rel="cc:attributionURL">Josh Lockhart</a> is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/">Creative Commons Attribution-NonCommercial-ShareAlike 3.0 Unported License</a>.<br />Based on a work at <a xmlns:dct="http://purl.org/dc/terms/" href="http://www.phptherightway.com" rel="dct:source">www.phptherightway.com</a>.
                </p>
            </footer>
        </div>
    </body>
</html>
